.search-bar,
.search-query{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.display{
    width: 80%;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.search-query{
    font-size: 18px;
}

.list-table{
    width: 100%;
}

.list-table th{
    font-size: 14px;
    background-color: #70b9dd;
}

.list-table td{
    padding-top: 3px;
    padding-bottom: 3px;
}

.list-table tr:nth-child(2n-1){
    background-color: rgb(216, 214, 215);
}

.list-table tr:nth-child(2n){
    background-color: rgb(236, 236, 236);
}

.data-list th:first-child,
.data-list td:first-child,
.data-list th:last-child,
.data-list td:last-child,{
    width: 15%;
}

.data-list th:nth-child(2),
.data-list td:nth-child(2),{
    width: 30%;
}

.person-list th:first-child,
.person-list td:first-child{
    width: 40%;
}

.person-list th:last-child,
.person-list td:last-child{
    width: 20%;
}

.data-list td:nth-child(3),
.person-list td:first-child,
.person-list td:nth-child(2){
    text-align: left;
}

