{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href='{% static "css/index.css" %}' rel="stylesheet" type="text/css" media="all">
{% endblock %}

{% block title %}
<title>資料選擇</title>
{% endblock %}
{% block fieldset_title %}資料選擇{% endblock %}

{% block content %}
<div class='index'>
    <div class="select">
        <form action="." method="POST">
            {% csrf_token %}
            <select name="puja_select">
                {% for puja in pujas %}
                <option value="{{ puja.id }}">{{ puja.year }}-{{ puja.name }}</option>
                {% endfor %}
            </select>
            
            <input type="submit">
        </form>
    </div>

    <div class="data-list">
        <p class="puja-title">法會名稱</p>

        <table class="data-table">
            <tr>
                <th>姓名</th>
                <th>電話</th>
                <th>地址</th>
                <th>大牌/中牌</th>
            </tr>

            {% for data in datalist %}

            <tr>
                <td>{{ data.person.name }}</td>
                <td>{{ data.person.contact }}</td>
                <td>{{ data.person.address }}</td>
                <td>{{ data.info_type }}</td>
            </tr>

            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
