{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href='{% static "css/participate.css" %}' rel="stylesheet" type="text/css" media="all">
{% endblock %}

{% block title %}
<title>編輯參與名單</title>
{% endblock %}

{% block fieldset_title %}編輯參與名單{% endblock %}

{% block content %}
<div class='index'>
    <p class="previous"><a href="/participate/"> << 回上一頁</a></p>

    <p class="puja-name">{{ puja.year }} - {{ puja.name }}：{{ selection_type }}選項</p>
    
    <div class="person-list">
        <form action="/participate/{{ puja.puja_id }}/{{ participatetype }}" method="POST">
            {% csrf_token %}
            <input type="submit" value="儲存">

            <table class="person-table">
                {% for person in persons %}
                <tr>
                    <td>
                        {% if person in participants %}

                        {% if person in participants_in_type %}
                        <input type="checkbox" id="{{ person.person_id }}" name="join" value="{{ person.person_id }}" checked>
                        {% else %}
                        <input type="checkbox" id="{{ person.person_id }}" name="join" value="{{ person.person_id }}" disabled>
                        {% endif %}

                        {% else %}
                        <input type="checkbox" id="{{ person.person_id }}" name="join" value="{{ person.person_id }}">
                        {% endif %}

                        <label for="{{ person.person_id }}">{{ person.name }}（{{ person.person_id }}）</label>
                    </td>
                    <td>{{ person.address }}</td>
                </tr>
                {% endfor %}
            </table>

            <input type="submit" value="儲存">
        </form>
    </div>
</div>
{% endblock %}
