{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href='{% static "css/participate.css" %}' rel="stylesheet" type="text/css" media="all">
{% endblock %}

{% block title %}
<title>編輯參與名單</title>
{% endblock %}

{% block fieldset_title %}編輯參與名單{% endblock %}

{% block content %}
<div class='index'>
    <div class="puja-list">
        <table class="puja-table">
            <tr>
                <th>年度</th>
                <th>法會名稱</th>
                <th>大牌/中牌</th>
            </tr>

            {% for puja in pujas %}
            <tr>
                <td>{{ puja.year }}</td>
                <td>{{ puja.name }}</td>
                <td>
                    <a href="/participate/{{ puja.puja_id }}/l">大牌</a>
                    <a href="/participate/{{ puja.puja_id }}/m">中牌</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
