{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href='{% static "css/puja.css" %}' rel="stylesheet" type="text/css" media="all">
{% endblock %}

{% block title %}
<title>法會清單</title>
{% endblock %}

{% block fieldset_title %}法會清單{% endblock %}

{% block content %}
<div class='index'>
    <p class="previous"><a href="/pujalist/"> << 回上一頁</a></p>

    <div class="puja-add">
        <form action="/pujaedit/{{ puja.id }}" method="POST">
            {% csrf_token %}
            <p>年度：<input name="year" type="number" min="105" max="150" value={{ puja.year }} required></p>
            <p>法會名稱：<select name="name">
                <option value="" selected disabled>（請選擇）</option>
                {% if puja.name == "法華法會" %}
                <option value="01" selected>法華法會</option>
                {% else %}
                <option value="01">法華法會</option>
                {% endif %}
                {% if puja.name == "藥師光明燈" %}
                <option value="02" selected>藥師光明燈</option>
                {% else %}
                <option value="02">藥師光明燈</option>
                {% endif %}
                {% if puja.name == "藥師法會" %}
                <option value="03" selected>藥師法會</option>
                {% else %}
                <option value="03">藥師法會</option>
                {% endif %}
                {% if puja.name == "梁皇法會" %}
                <option value="04" selected>梁皇法會</option>
                {% else %}
                <option value="04">梁皇法會</option>
                {% endif %}
                {% if puja.name == "盂蘭法會" %}
                <option value="07" selected>盂蘭法會</option>
                {% else %}
                <option value="07">盂蘭法會</option>
                {% endif %}
            </select></p>
            <p>開始日期：<input name="start" type="date" value="{{ start_date_str }}" required></p>
            <p>結束日期：<input name="end" type="date" value="{{ end_date_str }}" required></p>
            <p>
                <input type="submit" value="送出">
            </p>
        </form>
    </div>
</div>
{% endblock %}
