{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>政大棒球聯盟 NCBA - 會員註冊</title>
{% endblock %}

{% block fieldset_title %}
工作人員註冊
{% endblock %}

{% block content %}
<form action='.' method="POST">
    {% csrf_token %}
    <table class='form'>
        <tr>
            <td>帳　　號：</td>
            <td><input name='username' required></td>
        </tr>
        <tr>
            <td>密碼輸入：</td>
            <td><input name='password' type='password' required></td>
        </tr>
        <tr>
            <td>密碼確認：</td>
            <td><input name='password_confirm' type='password' required></td>
        </tr>
        <tr>
            <td>姓　　氏：</td>
            <td><input name='last_name' required></td>
        </tr>
        <tr>
            <td>名　　字：</td>
            <td><input name='first_name' required></td>
        </tr>
        <tr>
            <td>電子郵件：</td>
            <td><input name='email' type='email' required></td>
        </tr>
        <tr>
            <td><input type='reset'></td>
            <td><input type='submit'></td>
        </tr>
    </table>

</form>

<span>{{ message }}</span>
{% endblock %}
